.header {
    font-size: 20px;
    height: 76px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .header__logo {
  text-decoration: none;
  width: 240px;
  height: 80px;
  margin-top: 25px;
  margin-left: -10px;
  object-fit: contain;
  color:white;
}
  
  .header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
  }
  
  /* .header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 80%;
  } */
  
  /* .header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: green;
  } */
  
  .header__optionLineOne {
    font-size: 20px;
  }
  
  .header__optionLineTwo {
    margin: 10px;
    font-size: 20px;
    font-weight: 800;
  }
  
  .header__optionBasket {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
  }
  
  .header__nav {
    display: flex;
    justify-content: space-evenly;
  }
  
  .header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration-line: black;
    color: white;
  }

 .header__signup{
   padding: 40px;
   position: inherit;
   font-size: 14px;
   color: white;
 }

 .header__signup{
   text-decoration: none;
   position: relative;
   top: 20px;   
   font-size: 20px;
 }

 