.login {
    opacity: 0.6;
    background-image: url('https://fsb.zobj.net/crop.php?r=r6rRoHn95ijP7kSdSuMglcQFkhpGj-KdEjjqqr_4ZlD-E5bKSB_IG0lpmHgA-HOfmVs_HDi2eysF9KJKNU4g7QzeFYAPQyEndEK-OMyI2wT1TialQ6Ckj_g4cFhOCWoOgMnyLNT2TR0A2D4m');
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__logo {
    margin-top: 80%;
    object-fit: contain;
    width: 100px;
  }

.login__container {
    margin: 10px;
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
}

.login__container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
  }

.login__container > form > h5 {
    margin-bottom: 5px;
}

.login__container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
  }

.login__container > p {
    margin-top: 15px;
    font-size: 12px;
}

.login__signInButton {
    background: green;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: 1px solid gray;
  }

  .login__registerButton {
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgray;
  }